[submodule "AskGenie"]
	path = AskGenie
	url = https://github.com/alexisinwork/openAPI_ask_jinny.git
[submodule "PollyGlot"]
	path = PollyGlot
	url = https://github.com/alexisinwork/PollyGlot.git
[submodule "DreamCatcher"]
	path = DreamCatcher
	url = https://github.com/alexisinwork/dreamcatcher.git
[submodule "HuggingFaceDemo"]
	path = HuggingFaceDemo
	url = https://github.com/alexisinwork/hf_demo_BART.git
