[submodule "AskGenie"]
	path = AskGenie
	url = https://github.com/alexisinwork/openAPI_ask_jinny.git
[submodule "PollyGlot"]
	path = PollyGlot
	url = https://github.com/alexisinwork/PollyGlot.git
[submodule "DreamCatcher"]
	path = DreamCatcher
	url = https://github.com/alexisinwork/dreamcatcher.git
[submodule "HuggingFaceDemo"]
	path = HuggingFaceDemo
	url = https://github.com/alexisinwork/hf_demo_BART.git
[submodule "TransformersJs"]
	path = TransformersJs
	url = https://github.com/alexisinwork/TransformrsJS.git
[submodule "EmbeddingsAndVectorDB"]
	path = EmbeddingsAndVectorDB
	url = https://github.com/alexisinwork/embeds-vectors.git
[submodule "AI_Agents"]
	path = AI_Agents
	url = https://github.com/alexisinwork/ai_agents.git
[submodule "Context_Engineering"]
	path = Context_Engineering
	url = https://github.com/alexisinwork/ContextEngineering.git
[submodule "CustomerSupport"]
	path = CustomerSupport
	url = https://github.com/alexisinwork/customer_support.git
[submodule "ModelContextProtocol"]
	path = ModelContextProtocol
	url = https://github.com/alexisinwork/MCP.git
